* {      
    margin:0px auto;
    padding:0px auto;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;

}


Body { margin :0px;
background-image:url(images/fond%20cv.png);}

ul {margin: 50px;
    font-family:'Signika', sans-serif; 
    
}
    

header a {color:white ;
text-decoration:none;
font-family :'Signika', sans-serif;
font-size: 20px;
text-align: center;}


.moncercle{
background:#372A37;
margin:40px;
border-radius:50%;
width:120px;
height:120px;
line-height: 120px;
display: inline-block;
text-align: center; 
transition: all .5s linear;}


.moncercle:hover {
    background-color:#A89595;
    transform: rotate(360deg);}

header ul {
    margin:0;
    padding:0;
    text-align:center;}

header li {
    display: inline-block;
    text-align: center;
    font-family:'Signika', sans-serif;}


main .cerclephoto {
    overflow:hidden;
    border-radius:50px;
    width:180px;
    height:180px;
    transform:translateY(10%)
}




main .rectangle {
    background: white;
    margin-top: 4%;
    height:350px ;
    width:90%;
    border-radius:15px;}

.etudiante {
    font-family:'Amatic SC', cursive;
    font-size:35px;
    text-align:justify;
    position: absolute;
    top:507px;
    right:90px;}

.marie {
    font-family:'Amatic SC', cursive;
    font-size:70px;
    text-align:justify;
    position: absolute;
    top:470px;
    left:90px;
    border-bottom : 4px solid #372A37;
    width:1000px;}
   

h3 {
    font-family:'Amatic SC', cursive;
    font-size:25px;
    margin-top: 25px;
    color: #372A37;
    margin-left:50px;}


 h2 {
    font-family:'Amatic SC', cursive;
    font-size:40px;
    margin-left: 50px;
     color:#A89595;}

.formations {
    list-style-type: none;
    margin-top: -25px; }
    

.experiencespro {
    list-style-type: none;
    margin-top: -30px; }

.logiciels {
   list-style-type: none;
    background:white;
    border-radius:50%;
    width:100px;
    height:100px;
    display: inline-block;
    text-align: center;
    line-height: 100px;
    margin-left:-45px;
    margin-right: 100px;
    color:#372A37;
    font-style:oblique;
    font-size:18px;}
    
    
.langues1 {
     list-style-type: none;
    background:white;
    border-radius:50%;
    width:100px;
    height:100px;
    display: inline-block;
    text-align: center;
    line-height: 100px;
    margin-left:-45px;
    margin-right: 100px;
    color:#372A37;
    font-style:oblique;
    font-size:18px;}
    

.loisir {
    list-style-type: none;
    background:white;
    border-radius:50%;
    width:100px;
    height:100px;
    display: inline-block;
    text-align: center;
    line-height: 100px;
    margin-left:-45px;
    margin-right: 100px;
    color:#372A37;
    font-style:oblique;
    font-size:18px;}

.Icones {
    list-style-type: none;
    line-height: 50px;
    font-family:'Signika', sans-serif;
    font-size:16px;
}

.Icones img{
    position:relative;
    top:10px;
    margin-right:10px;
}
    

.rectangle1 {
    background: white;
    margin-top: 6px;
    height:300px ;
    width:900px;
    border-radius:15px;}
    
    
    
}




    
    
    
    
    
    






    

    

   


    
    

    
    
    
    
    
        

