Body { margin :0px;}

ul {margin: 50px;
    font-family:'Signika', sans-serif; }
    

header a {color:white ;
text-decoration:none;
font-family :'Signika', sans-serif;
font-size: 20px;
text-align: center;
 
}


.moncercle{
  background:#372A37;
  margin:40px;
  border-radius:50%;
  width:120px;
  height:120px;
  line-height: 120px;
display: inline-block;
text-align: center; 
    transition: all .5s linear;
}

.moncercle:hover {
    background-color:#F5EDF1;
    transform: rotate(360deg);
}

header ul {
    margin:0;
    padding:0;
    text-align:center;
}

header li {
    display: inline-block;
    text-align: center;
    font-family: font-family: 'Signika', sans-serif;
   
   }

.cerclephoto {
    overflow:hidden;
    border-radius:160%;
    width:180px;
    height:180px;
    margin:70px;
    text-align: center;
}



h1 {
    font-family:'Amatic SC', cursive;
    margin-left: 30px;
    font-size:70px;
    border-bottom : 4px solid #372A37;
    width : 1000px; 
    
}

h3 {
    font-family:'Signika', sans-serif; 
    font-size: 18px;
    margin-left: 30px;
   

p {
    font-family:'Amatic SC', cursive;
     margin-left: 650px;
    font-size:40px;
   text-align:justify;
    padding-top:-10px; 
    margin-top:-100px;
    
    

    
    
    
    
    
        

