Body { margin :0px;
background-image:url(images/fond%20cv.png);}

ul {margin: 50px;
    font-family:'Signika', sans-serif; }
    

header a {color:white ;
text-decoration:none;
font-family :'Signika', sans-serif;
font-size: 20px;
text-align: center;}


.moncercle{
background:#372A37;
margin:40px;
border-radius:50%;
width:120px;
height:120px;
line-height: 120px;
display: inline-block;
text-align: center; 
transition: all .5s linear;}

.moncercle:hover {
    background-color:#D4C7C7;
    transform: rotate(360deg);}

header ul {
    margin:0;
    padding:0;
    text-align:center;}

header li {
    display: inline-block;
    text-align: center;
    font-family:'Signika', sans-serif;}

.cerclephoto {
    overflow:hidden;
    margin-left:500px;
    margin-top:-300px;
    border-radius:160%;
    width:200px;
    height:200px;}


main h2 {
    font-family:'Amatic SC', cursive;
    font-size:40px;
    margin-left: 30px;}
    

main h3{
    font-family:'Signika', sans-serif;
    font-size:16px;
    margin-left:30px;}

main li {
    display:block;
    margin-left: -60px;
   
    
    
p {
    font-family:'Amatic SC', cursive;
     margin-left: 883px;
    font-size:35px;
    text-align:justify;
    padding-top:-10px; 
    margin-top:-100px;}

h1 {
    font-family:'Amatic SC', cursive;
    margin-left: 30px;
    font-size:70px;
    padding-top: 200px;
    border-bottom : 4px solid #372A37;
    width : 1135px; }

.rectangle {
    background: white;
    margin-left: 80px;
    margin-right: 80px;
    height:350px;
    border-radius:1%;
    
    

    

   


    
    

    
    
    
    
    
        

