* {      
    margin:0px auto;
    padding:0px auto;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;

}


Body { margin :0px;
background-image:url(images/fond%20cv.png);}

ul {margin: 50px;
    font-family:'Signika', sans-serif; 
    
}
    

header a {color:white ;
text-decoration:none;
font-family: 'Pacifico', cursive;
font-size: 23px;
text-align: center;}


.moncercle{
background:#372A37;
margin:40px;
border-radius:50%;
width:120px;
height:120px;
line-height: 120px;
display: inline-block;
text-align: center; 
transition: all .5s linear;}


.moncercle:hover {
    background-color:rgba(169,147,146,0.3) ;
    transform: rotate(360deg);}

header ul {
    margin:0;
    padding:0;
    text-align:center;}

header li {
    display: inline-block;
    text-align: center;
    font-family:'Signika', sans-serif;}


.cerclephoto {
    overflow:hidden;
    border-radius:120px;
    width:180px;
    height:180px;
    margin-top:-440px;
   
    transform:translateY(10%)}

main .rectangle {
    background: white;
    margin-top: 4%;
    height:450px ;
    width:90%;
    border-radius:15px;}


.plaquette {
    list-style-type: none;
    display: inline-block;
    padding-left:85px;
    margin-top:277px;}

.etudiante {
    font-family:'Amatic SC', cursive;
    font-size:35px;
    text-align:justify;
    position: absolute;
    top:470px;
    right:90px;}

.marie {
    font-family:'Amatic SC', cursive;
    font-size:70px;
    text-align:justify;
    position: absolute;
    top:433px;
    left:90px;
    border-bottom : 4px solid #372A37;
    width:1000px;}
    
   

h3 {
    font-family:'Amatic SC', cursive;
    font-size:25px;
    margin-top: 25px;
    color: #372A37;
    margin-left:50px;}


 h2 {
    font-family:'Amatic SC', cursive;
    font-size:40px;
    margin-left: 50px;
     color:#A89595;}


.formations {
    list-style-type: none;
    margin-top: -25px; }
    

.experiencespro {
    list-style-type: none;
    margin-top: -30px; }

.logiciels {
    list-style-type: none;
    background:white;
    border-radius:50%;
    width:100px;
    height:100px;
    display: inline-block;
    text-align: center;
    line-height: 100px;
    margin-left:-45px;
    margin-right: 100px;
    color:#372A37;
    font-style:oblique;
    font-size:18px;
    overflow: hidden;
    position:relative;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translate3d(0,0,0);}

.competences-niveau{
    width:100%;
    background-color:rgba(169,147,146,0.3) ;
    position:absolute;
    bottom:0;
    transform:translateY(100%);
    transition:all 1s ease;}

.logiciels .mot{
    position:absolute;
    top:0%;
    left:5%;
    right:5%;}

.logiciels:hover .competences-niveau{
    transform:translateY(0);}
    
    
.langues1 {
     list-style-type: none;
    background:white;
    border-radius:50%;
    width:100px;
    height:100px;
    display: inline-block;
    text-align: center;
    line-height: 100px;
    margin-left:-45px;
    margin-right: 100px;
    color:#372A37;
    font-style:oblique;
    font-size:18px;}
    

.loisir {
    list-style-type: none;
    background:white;
    border-radius:50%;
    width:100px;
    height:100px;
    display: inline-block;
    text-align: center;
    line-height: 100px;
    margin-left:-45px;
    margin-right: 100px;
    color:#372A37;
    font-style:oblique;
    font-size:18px;}


.Icones {
    list-style-type: none;
    line-height: 50px;
    font-family:'Signika', sans-serif;
    font-size:16px;
    left:50px;
    
}

.Icones img{
    position:relative;
    top:10px;
    margin-right:210px;
    left:200px;}
    

.rectangle1 {
    background: white;
    margin-top: 6px;
    height:300px ;
    width:900px;
    border-radius:15px;}

.adjectifs {
    display:inline-block;
    font-family: 'Pacifico', cursive;
    margin-left:80px;
    padding-top:-200px; }









    




    
    
    
    
    
    






    

    

   


    
    

    
    
    
    
    
        

